Repository kubernetes-sigs/cluster-capacity, pull requests merged in 2022-04, with the labels that each got.

#149 Benchmark: verify pod colocation
  cmd/cluster-capacity/app/server.go
  pkg/framework/plugins/clustercapacitybinder/plugin.go
  pkg/framework/podgenerator.go
  pkg/framework/simulator.go
  pkg/framework/simulator_test.go
  pkg/framework/strategy/strategy.go
  pkg/framework/strategy/strategy_test.go
  pkg/utils/utils.go
  test/benchmark/docs/pod_colocation.md
  test/benchmark/pod_colocation_test.go
  test/e2e/e2e_test.go
Labels: cncf-cla: yes, size/XXL, lgtm, approved

#150 exclude some nodes to be scheduled
  cmd/cluster-capacity/app/options/options.go
  cmd/cluster-capacity/app/server.go
  pkg/framework/simulator.go
  pkg/framework/simulator_test.go
  test/benchmark/pod_colocation_test.go
  test/e2e/e2e_test.go
Labels: cncf-cla: yes, size/S, lgtm, approved, ok-to-test

#152 support golint
  Makefile
  cmd/genpod/app/server.go
  pkg/framework/podgenerator.go
  pkg/framework/record/recorder.go
  pkg/framework/simulator.go
  pkg/framework/simulator_test.go
  test/e2e/e2e_test.go
Labels: cncf-cla: yes, size/M, lgtm, approved, ok-to-test
